<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="A11y Violations Demo"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Main">

        <activity android:name=".MainActivity" android:exported="true" android:label="A11y Violations Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ImageWithTextActivity" android:exported="false"
            android:label="1. Images with text" android:theme="@style/Theme.Child" />
        <activity android:name=".ImageViewLabelActivity" android:exported="false"
            android:label="2. ImageView label" android:theme="@style/Theme.Child" />
        <activity android:name=".InteractiveLabelActivity" android:exported="false"
            android:label="3. Interactive label" android:theme="@style/Theme.Child" />
        <activity android:name=".ReadingOrderActivity" android:exported="false"
            android:label="4. Reading order" android:theme="@style/Theme.Child" />
        <activity android:name=".VisualOrderActivity" android:exported="false"
            android:label="5. Visual order" android:theme="@style/Theme.Child" />
        <activity android:name=".AllViolationsActivity" android:exported="false"
            android:label="All violations" android:theme="@style/Theme.Child" />
    </application>

</manifest>
